* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

textarea {
  resize: none;

  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: 'YeolrinGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YeolrinGothic-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YeolrinGothic-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinGothic-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$font-bold: "YeolrinGothic-Bold";
$font-medium: "YeolrinGothic-Medium";
$font-light: "YeolrinGothic-Light";