@import "init";

.post-wrap {
  @include flex-box;
  align-items: flex-start;
  margin-top: 110px;
  padding: 0 185px 0 79px;
}

.post-menu-item {
  margin-bottom: 24px;
  font-family: $font-medium;
  font-size: 23px;
}

.post-contents-wrap {
  width: 900px; // 원래는 1319px, 사이즈 넘쳐서 임의로 조정
}

.post-name {
  padding-bottom: 23px;
  border-bottom: 19px solid #566B64;
  font-family: $font-medium;
  font-size: 55px;
}

.active {
  font-family: $font-bold;
  color: red;
}

