@import "init";

.post-contents-col {
  @include flex-box;
  padding-bottom: 5px;
  margin: 157px 0 11px;
  border-bottom: 6px solid #344D51;

  .col {
    font-family: $font-bold;
    font-size: 36px;
    text-align: center;
  }

  .col-title {
    width: 50%; // 임의로 설정
  }
  .col-date {
    width: 25%;
  }
  .col-user {
    width: 25%;
  }
}

.post-list {
  @include flex-box;
  width: 100%;
  margin-bottom: 11px;
  padding-bottom: 10px;
  border-bottom: 2px solid #BABABA;
  font-size: 25px;
  text-align: center;

  .post-list-title {
    width: 50%;
  }
  .post-list-date {
    width: 25%;
  }
  .post-list-user {
    width: 25%;
  }
}

