{% extends 'community/community_base.html' %}
{% load sass_tags %}
{% load static %}

{% block community-extra-head %}
<link rel="stylesheet" href="{% sass_src 'css/community_detail.scss' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block community-name %}
{{ board }}
{% endblock %}

{% block community-content %}
<!--해당 페이지 접근 시 조회수 업데이트-->
<div style="display: none">{{ post.click }}</div>

<!--class 이름 통일해서 common 스타일 파일 사용-->
<div class="post-detail-title">{{ post.title }}</div>
<div class="post-detail-summary">
    <div class="post-detail-summary-unit">작성자: {{ post.user.name }}</div>
    <div class="post-detail-summary-unit">작성일: {{ post.created_at|date:"Y-m-d" }}</div>
    <div class="post-detail-summary-unit">조회수: {{ post.hits }}</div>
</div>
<div class="post-detail-contents">{{ post.contents }}</div>

{% if is_post_user %}
<div class="post-detail-button-wrap">
    <div class="post-detail-button">
        {% if post.board == "market" %}
        <a href="{% url 'community:market_update' post.pk %}">수정</a>
        {% else %}
        <a href="{% url 'community:community_update' post.pk %}">수정</a>
        {% endif %}
    </div>
    <form action="{% url 'community:community_delete' post.pk %}" method="post">
        {% csrf_token %}
        <!--input submit 기본 테두리 제거-->
        <input class="post-detail-button" value="삭제" type="submit" style="border: none">
    </form>
</div>
{% endif %}

{% for comment in comments %}
<div class="community-comment comment-{{ comment.id }}">
    <div class="community-comment-header">
        <div class="community-comment-summary">
            <div class="community-comment-user">{{ comment.user.name }}</div>
            <div>{{ comment.created_at|date:"Y-m-d" }}</div>
            <div>{{ comment.created_at|date:"h:i" }}</div>
        </div>
        {% if comment.user == login_user %}
        <div class="community-comment-button-wrap">
            <input class="community-comment-button update-{{ comment.id }}"
                   onclick="commentUpdate('{{ comment.id }}')"
                   type="submit"
                   value="수정"/>
            <input class="community-comment-button delete-{{ comment.id }}"
                   onclick="commentDelete('{{ comment.id }}')"
                   value="삭제"
                   type="submit"/>
            <!--수정 버튼 클릭 시 생성되는 버튼-->
            <a href="{% url 'community:community_detail' post.pk %}"
               class="community-comment-button cancel-{{ comment.id }}"
               style="display: none">취소</a>
            <input class="community-comment-button submit-{{ comment.id }}"
                   onclick="commentUpdateSubmit('{{ comment.id }}')"
                   type="submit"
                   value="수정"
                   style="display: none"/>
        </div>
        {% endif %}
    </div>
    <input type="text"
           class="community-comment-contents contents-{{ comment.id }}"
           value="{{ comment.contents }}"
           readonly/>
</div>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="contents" placeholder="댓글 작성">
    <input type="submit" value="등록">
</form>


<!--Template Tag 전역변수 설정-->
<script>
    const updateUrl = "{% url 'community:community_comment_update' %}";
    const deleteUrl = "{% url 'community:community_comment_delete' %}";
    let token = "{{ csrf_token }}";
</script>

<!--javascript 파일 로드-->
<script src="{% static 'js/community_detail.js' %}"></script>
{% endblock %}