{% extends 'major/major_base.html' %}
{% load sass_tags %}

{% block major-extra-head %}
<link rel="stylesheet" href="{% sass_src 'css/major_detail.scss' %}?2"/>
{% endblock %}

{% block major-name %}
{{ major }}
{% endblock %}

{% block major-content %}
<!--해당 페이지 접근 시 조회수 업데이트-->
<div style="display: none">{{ post.click }}</div>

<!--class 이름 통일해서 common 스타일 파일 사용-->
<div class="post-detail-title">{{ post.title }}</div>
<div class="post-detail-summary">
    <div class="post-detail-summary-unit">작성자: {{ post.user.name }}</div>
    <div class="post-detail-summary-unit">작성일: {{ post.created_at|date:"Y-m-d" }}</div>
    <div class="post-detail-summary-unit">조회수: {{ post.hits }}</div>
</div>
<div class="post-detail-contents">{{ post.contents }}</div>

{% if is_post_user %}
<div class="post-detail-button-wrap">
    <div class="post-detail-button"><a href="{% url 'major:major_update' post.pk %}">수정</a></div>
    <form action="{% url 'major:major_delete' post.pk %}" method="post">
        {% csrf_token %}
        <!--input submit 기본 테두리 제거-->
        <input class="post-detail-button" value="삭제" type="submit" style="border: none">
    </form>
</div>
{% endif %}
{% endblock %}