{% extends 'core/base.html' %}
{% load sass_tags %}

{% block extra-head %}
<link rel="stylesheet" href="{% sass_src 'css/major_base.scss' %}?1"/>
{% block major-extra-head %}
{% endblock %}
{% endblock %}

{% block content %}
<!--base.scss에 style-->
<div class="title-banner">과별 게시판</div>

<div class="major-wrap">
    <div class="major-menu">
        <div class="major-menu-item">
            <a href="{% url 'major:food_list' %}">식품영양학과</a>
        </div>
        <div class="major-menu-item">
            <a href="{% url 'major:clothing_list' %}">의류학과</a>
        </div>
        <div class="major-menu-item">
            <a href="{% url 'major:consumer_list' %}">소비자학과</a>
        </div>
        <div class="major-menu-item">
            <a href="{% url 'major:child_list' %}">아동가족학과</a>
        </div>
    </div>

    <div class="major-contents-wrap">
        <div class="major-name">
            {% block major-name %}
            {% endblock %}
        </div>
        <div class="major-contents">
            {% block major-content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}