{% extends 'notice/notice_base.html' %}
{% load sass_tags %}

{% block notice-extra-head %}
<link rel="stylesheet" href="{% sass_src 'css/notice_create.scss' %}"/>
{% endblock %}

{% block notice-content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if is_pin %}
    <label for="pin_checked">
        <input id="pin_checked" type="checkbox" name="pin" value="PIN" checked>주요공지
    </label>
    {% else %}
    <label for="pin">
        <input id="pin" type="checkbox" name="pin" value="PIN">주요공지
    </label>
    {% endif %}
    <input type="submit" value="게시하기"/>
</form>
{% endblock %}