{% extends 'core/base.html' %}
{% load sass_tags %}

{% block extra-head %}
<link rel="stylesheet" href="{% sass_src 'css/core.scss' %}"/>
{% endblock %}

{% block content %}
<div id="core-banner">
    <span id="core-banner-text1">서울대학교 생활과학대학 학생회</span>
    <span id="core-banner-text2">Seoul Nat'l Univ. College of Human Ecology</span>
    <img id="core-banner-img" src="../../../static/생대사진.png" alt="">
</div>
<div class="core-content-box" id="core-content-box1">
    <div id="core-notice" class="core-list">
        <div class="core-list-header">
            <div class="core-list-title">공지사항</div>
            <a class="core-list-plus" href="{% url 'notice:notice_list' %}">더보기<span>▶</span></a>
        </div>
        {% for post in notice_posts %}
        <div class="core-list-item">
            <a class="title" href="{% url 'notice:notice_detail' post.pk %}">{{ post.title }}</a>
            <div class="summary">{{ post.created_at|date:"Y-m-d"}}<span>{{ post.user.name }}</span></div>
        </div>
        {% endfor %}
    </div>
    <div id="core-major">
        <a href="{% url 'major:consumer_list' %}"><div id="core-major-consumer" class="core-major-item">소비자학과</div></a>
        <a href="{% url 'major:child_list' %}"><div id="core-major-child" class="core-major-item">아동가족학과</div></a>
        <a href="{% url 'major:food_list' %}"><div id="core-major-food" class="core-major-item">식품영양학과</div></a>
        <a href="{% url 'major:clothing_list' %}"><div id="core-major-clothing" class="core-major-item">의류학과</div></a>
        <a class="core-major-suggest" href="{% url 'complaint:complaint_list' %}"><div>건의하기</div></a>
    </div>
</div>
<div class="core-content-box">
    <div id="core-event" class="core-list">
        <div class="core-list-header">
            <div class="core-list-title">이달의 행사</div>
            <div class="core-list-plus">더보기<span>▶</span></div>
        </div>
        <!--데이터 받아서 for 문-->
        <div class="core-list-item">
            <div class="title">첫 번째 제목</div>
            <div class="summary">08-04 ~ 08-05</div>
        </div>
        <!--for 문 끝-->
    </div>
    <div id="core-market" class="core-list">
        <div class="core-list-header">
            <div class="core-list-title">장터 게시판</div>
            <a class="core-list-plus" href="{% url 'community:market_list' %}">더보기<span>▶</span></a>
        </div>
        {% for post in market_posts %}
        <div class="core-list-item">
            <a class="title" href=""><span>{{ post.market_tag }}</span>{{ post.title }}</a>
            <div class="summary">{{ post.created_at|date:"Y-m-d" }}<span>{{ post.user.name }}</span></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}