{% extends 'complaint/complaint_base.html' %}
{% load sass_tags %}

{% block complaint-extra-head %}
<link rel="stylesheet" href="{% sass_src 'css/complaint_detail.scss' %}"/>
{% endblock %}

{% block complaint-content %}
<!--해당 페이지 접근 시 조회수 업데이트-->
<div style="display: none">{{ post.click }}</div>

<div class="complaint-title">{{ post.title }}</div>
<div class="complaint-summary">
    <div class="complaint-summary-unit">작성자: 익명</div>
    <div class="complaint-summary-unit">작성일: {{ post.created_at|date:"Y-m-d h:i" }}</div>
    <div class="complaint-summary-unit">조회수: {{ post.hits }}</div>
</div>
<div class="complaint-contents">
    <div class="file">{{ post.file }}</div>
    {{ post.contents }}
</div>

{% for comment in comments %}
<div class="complaint-comment">
    <div class="complaint-comment-header">
        <div class="complaint-comment-summary">
            <div class="complaint-comment-user">{{ comment.user.name }}</div>
            <div>{{ comment.created_at|date:"Y-m-d" }}</div>
            <div>{{ comment.created_at|date:"h:i" }}</div>
        </div>
        {% if comment.user == login_user %}
        <div class="complaint-comment-button-wrap">
            <div class="complaint-comment-button">수정</div>
            <div class="complaint-comment-button">삭제</div>
        </div>
        {% endif %}
    </div>
    <input class="complaint-comment-contents" value="{{ comment.contents }}" readonly/>
</div>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="contents" placeholder="댓글 작성"/>
    <input type="submit" value="등록"/>
</form>
{% endblock %}