{% extends 'complaint/complaint_base.html' %}
{% load sass_tags %}
{% load static %}

{% block complaint-extra-head %}
<link rel="stylesheet" href="{% sass_src 'css/complaint_detail.scss' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block complaint-content %}
<!--해당 페이지 접근 시 조회수 업데이트-->
<div style="display: none">{{ post.click }}</div>

<div class="complaint-title">{{ post.title }}</div>
<div class="complaint-summary">
    <div class="complaint-summary-unit">작성자: 익명</div>
    <div class="complaint-summary-unit">작성일: {{ post.created_at|date:"Y-m-d h:i" }}</div>
    <div class="complaint-summary-unit">조회수: {{ post.hits }}</div>
</div>
<div class="complaint-contents">
    <div class="file">{{ post.file }}</div>
    {{ post.contents }}
</div>

{% for comment in comments %}
<div class="complaint-comment comment-{{ comment.id }}">
    <div class="complaint-comment-header">
        <div class="complaint-comment-summary">
            <div class="complaint-comment-user">{{ comment.user.name }}</div>
            <div>{{ comment.created_at|date:"Y-m-d" }}</div>
            <div>{{ comment.created_at|date:"h:i" }}</div>
        </div>
        {% if comment.user == login_user %}
        <div class="complaint-comment-button-wrap">
            <input class="complaint-comment-button update-{{ comment.id }}"
                   onclick="commentUpdate('{{ comment.id }}')"
                   type="submit"
                   value="수정"/>
            <input class="complaint-comment-button delete-{{ comment.id }}"
                   onclick="commentDelete('{{ comment.id }}')"
                   value="삭제"
                   type="submit"/>
            <!--수정 버튼 클릭 시 생성되는 버튼-->
            <a href="{% url 'complaint:complaint_detail' post.pk %}"
               class="complaint-comment-button cancel-{{ comment.id }}"
               style="display: none">취소</a>
            <input class="complaint-comment-button submit-{{ comment.id }}"
                   onclick="commentUpdateSubmit('{{ comment.id }}')"
                   type="submit"
                   value="수정"
                   style="display: none"/>
        </div>
        {% endif %}
    </div>
    <input type="text"
           class="complaint-comment-contents contents-{{ comment.id }}"
           value="{{ comment.contents }}"
           readonly/>
</div>
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="contents" placeholder="댓글 작성"/>
    <input type="submit" value="등록"/>
</form>


<!--Template Tag 전역변수 설정-->
<script>
    const updateUrl = "{% url 'complaint:complaint_comment_update' %}";
    const deleteUrl = "{% url 'complaint:complaint_comment_delete' %}";
    let token = "{{ csrf_token }}";
</script>

<!--javascript 파일 로드-->
<script src="{% static 'js/complaint_detail.js' %}"></script>
{% endblock %}